a:link, a:visited {
  background-color: rgba(255, 255, 255, 0.596) ;
  padding: 0.5em;
  color: black ;
  display: inline-block;
  text-decoration: none;
  margin: 0 auto;
  width: 400px;
  border: 2px solid black;
  text-align: center;
  font-size: 20px;
}
a:hover, a:active {
  background-color: green;
  color: white;
}
div{
  flex-wrap: wrap;
  display: flex;
}
h1{
  font-size: 30px;
  text-align: center;
}
body{
  background-image: radial-gradient(rgb(0, 255, 76), rgb(11, 124, 11));
  background-attachment: fixed;
  background-size: 100%;
}